@import './settings.scss';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $colorDarkBlue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing:border-box;
}
.main {
  
  text-align: center;
  color:$colorSecondaryWhite;
  .nav ul {
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;  
        a{
          text-decoration: none;
          color:$colorSecondaryWhite;
          transition-duration:1s;
          margin: 50px;
        }
        a:hover {
          color: $colorPink;
          font-size: 1.5rem;
        }
    }
  }
  h1{
     color:$colorSecondaryWhite; 
    }
  
}
  
